body {
    font-family: sans-serif;
}

.header {
    display: flex;
    align-items: center;
    background-color: rgb(43, 43, 43);
    position: sticky;
    z-index: 100;
    
}
.header_logo {
    width:100px;
    margin-left: 28px;
    margin-right: 20px;
    margin-top: 15px;
    

}
.headerSearch { 
    display: flex;
    flex: 1;
    
    
    
}
.headerSearchInput {
    height: 14px;
    padding: 10px;
    border: none;
    width: 100%;
}

.searchIcon {
    background-color: #cd9042;
    padding : 5px;
    height: 12px;
    
}

.header_nav {
    display: flex;
    justify-content: space-evenly;
}
.header_opt {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.header_optLineOne {
    font-size: 11px;
}
.header_optLineTwo {
    font-size: 13px;
    font-weight: 700;
}

.header_opt > span {
    color: white;
}
.bucket-icon {
    color: white;
}



